@model IFormFile
@{
    ViewData["Title"] = "Upload Image or Enter Image URL";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Upload Image or Enter Image URL</h2>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <form asp-controller="Images" asp-action="Analyze" enctype="multipart/form-data" method="post">
        <div class="card mb-4">
            <div class="card-body">
                <div class="form-group">
                    <label for="imageFile" class="custom-file-label">Choose File</label>
                    <input type="file" class="form-control custom-file-input" id="imageFile" name="imageFile" />
                    <small id="fileName" class="form-text text-muted"></small>
                </div>

                <div class="form-group mt-3">
                    <label for="imageUrl">Or enter an image URL:</label>
                    <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="https://example.com/image.jpg" />
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="form-group">
                    <label for="thumbnailWidth">Thumbnail Width:</label>
                    <input type="number" class="form-control" id="thumbnailWidth" name="thumbnailWidth" value="100" min="50" max="500" />
                </div>

                <div class="form-group mt-3">
                    <label for="thumbnailHeight">Thumbnail Height:</label>
                    <input type="number" class="form-control" id="thumbnailHeight" name="thumbnailHeight" value="100" min="50" max="500" />
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-secondary btn-block mt-3">Analyze Image</button>
    </form>
</div>

<script>
    // JavaScript för att visa vald fil
    document.getElementById('imageFile').addEventListener('change', function () {
        var fileName = this.files.length > 0 ? this.files[0].name : "No file chosen";
        document.getElementById('fileName').textContent = fileName;
    });
</script>
